/* dashboard.css */

/* Main Content Styling */
.main-content {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-top: 1.25rem;
    min-height: calc(100vh - 6rem);
    overflow-y: auto;
    margin-left: 16.666667%;
    width: 83.333333%;
}

.main-content .h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.card-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.9375rem;
}

.card p {
    margin-bottom: 0.5rem;
}

.card p strong {
    display: inline-block;
    width: 5rem;
}

.card hr {
    margin-top: 0;
    margin-bottom: 0.9375rem;
}

/* Media Query per dispositivi mobili */
@media (max-width: 767.98px) {
    .main-content {
        padding: 1rem;
        margin-top: 1rem;
        min-height: auto;
        margin-left: 0;
        width: 100%;
    }

    .main-content .h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .card-title {
        font-size: 1.125rem;
        margin-bottom: 0.75rem;
    }

    .card p strong {
        width: auto;
        display: block;
    }
}