<div class="vstack gap-3">
    <h2 class="my-4">Change password</h2>
    <form id="change-password-form" novalidate>
        <div class="mb-3">
            <label for="current-password" class="form-label">Current password</label>
            <input type="password" class="form-control" id="current-password" name="current-password" required>
            <div class="invalid-feedback">Please enter your current password.</div>
        </div>
        <div class="mb-3">
            <label for="new-password" class="form-label">New password</label>
            <input type="password" class="form-control" id="new-password" name="new-password" required>
            <div class="invalid-feedback">Please enter a new password.</div>
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
            <div class="invalid-feedback">Please confirm your new password.</div>
        </div>
        <button type="submit" class="btn bd-btn">Change password</button>
    </form>
</div>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>

<script src="{{ url_for('frontend.static', filename='js/change_password.js') }}"></script>
