<div class="vstack gap-3">
    <h2 class="my-4">Dashboard</h2>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title mt-2 mb-4">Welcome {{ user.username }}</h5>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Name: </strong>{{ user.name }}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Surname: </strong>{{ user.surname }}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Role: </strong>{{ user.role }}</p>
                </div>
                {% if user.role != 'System Manager' %}
                <div class="col-md-4">
                    <p><strong>Tag ID: </strong>{{ user.tag_id }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div> 
