{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('frontend.static', filename='style/home.css') }}">
<script src=" https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.2/dist/bootstrap-table.min.js "></script>
<script src="{{ url_for('frontend.static', filename='js/dynamic-content.js') }}"></script>
<script src="{{ url_for('frontend.static', filename='js/home.js') }}"></script>
{% endblock %}


{% block content %} 
<div class="container-fluid bd-gutter mt-3 bd-layout">
    <!-- Sidebar -->
    <aside class="bd-sidebar border-end">
        <div id="bdSidebar" class="offcanvas-lg offcanvas-start" tabindex="-1">
            <div class="offcanvas-header border-bottom">
                <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" data-bs-target="#bdSidebar"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="bd-links w-100">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#dashboard" data-url="/dashboard">
                                <i class="fa fa-tachometer-alt"></i> 
                                <span class="text"> Dashboard</span>
                            </a>
                        </li>
                        {% if role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#temperature" data-url="/temperature">
                                <i class="fa fa-temperature-three-quarters"></i> 
                                <span class="text">Temperature</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if role == 'security' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#intrusion" data-url="/intrusion">
                                <i class="fa fa-bell"></i>
                                <span class="text">Intrusion</span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#logs" data-url="/logs">
                                <i class="fa bi-person-lines-fill"></i>
                                <span class="text">Access Logs</span>
                            </a>
                        </li>
                        {% if role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#settingsMenu" role="button">
                                <i class="fa fa-gears"></i> <span class="text">Settings</span>
                                <i class="fa-solid fa-chevron-right arrow"></i>
                            </a>
                            <div class="collapse" id="settingsMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#users" data-url="/users">
                                            Users
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#accesses" data-url="/accesses">
                                            Accesses
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    <hr>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#usersMenu" role="button">
                                <i class="fa fa-circle-user"></i> <span class="text">User</span>
                                <i class="fa-solid fa-chevron-right arrow"></i>
                            </a>
                            <div class="collapse" id="usersMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#changePassword" data-url="/change_password">Change Password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Logout" data-bs-toggle="modal" data-bs-target="#logoutModal">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>

    <!-- Main content -->
    <main id="main-content" class="bd-main order-1 overflow-y-auto p-4">
        <!-- Content loaded dynamically -->
    </main>
</div>
<div>
    <div class="modal fade" id="logoutModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logougModalLabel">Confirm Log out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="confirm-logout-btn" type="button" class="btn bd-btn">Log out</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}