{% extends 'base.html' %}

{% block title %}Sign in{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('frontend.static', filename='style/login.css') }}">
<script src="{{ url_for('frontend.static', filename='js/login.js') }}"></script>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: calc(100vh - 5.4rem);">
    <div class="card p-4 shadow" style="width: 100%; max-width: 25rem;">
        <h1 class="mb-4">User Area</h1>
        <form id="login-form" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="invalid-feedback">Please enter a username</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">Please enter a password</div>
            </div>
            <button type="submit" class="bd-btn btn w-100">Login</button>
            <div id="loginMessage" class="mt-3"></div>
        </form>
    </div>
</div>
{% endblock %}
