<div class="vstack gap-3">
    <h2 class="my-4">Access Logs</h2>
    
    <div id="toolbar" class="row mb-2">
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" id="startDate" class="form-control" placeholder="Start Date">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" id="endDate" class="form-control" placeholder="End Date">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        {% if role == 'admin' %}
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" id="username" class="form-control" placeholder="Username">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
        </div>
        {% endif %}
        <div class="col-md-2">
            <button id="filterButton" class="btn bd-btn">Filter</button>
        </div>
    </div>

    <table id="logs-table" class="table table-striped">
        <thead>
            <tr>
                <th data-field="timestamp">Data</th>
                <th data-field="username">Username</th>
                <th data-field="tag_id">Tag ID</th>
            </tr>
        </thead>
    </table>

</div>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="{{ url_for('frontend.static', filename='js/logs.js') }}"></script>  
